body {
    text-align: center;
}

.cell{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    border: 1px solid black;
   
}

#grid{
    display: inline-block;
    width: 400px;
    height: 400px;
    align-items: center;
    overflow: auto;
}

.row{
    display: inline-block;
}

#players-turn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}