body {
    text-align: center;
}

.cell{
    background-color: rgb(204, 199, 199);
    width: 100px;
    height: 100px;
    border: 1px solid black;
    line-height: 100px;
}

#grid{
    display: inline-block;
    width: 400px;
    height: 400px;
}

.col{
    display: inline-block;
    vertical-align: top;
}

#players-turn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}

#play-game-btn{
    margin-bottom: 25px;
}